body {
  background-color: rgb(46, 39, 39);
  color: silver;
  text-align: center;
}

table {
  border: 1px solid white;
  flex-wrap: wrap;
  justify-content: center;
}

tbody {
  border: 1px solid white;
  flex-wrap: wrap;
  justify-content: center;
}

tr {
  border: 1px solid white;
}

