body {
  background-color: rgb(46, 39, 39);
  color: silver;
  text-align: center;
}
table {
  justify-content: center;
  border: 1px solid white;
  flex-wrap: wrap;
}
tbody {
  justify-content: center;
  border: 1px solid white;
  flex-wrap: wrap;
}
tr {
 border: 1px solid white;
}

